.wrapper {
    width: 70vw;
    margin: 50px auto 100px;
    padding: 20px;

    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: auto auto;
    gap: 30px;

    background-color: #2d2d30;
    border: 1px solid black;
    color: #eceff1;
}