.wrapper {
    margin: 15px 0;
    padding: 15px 15px 30px 30px;
    border-radius: 5px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);

    h2 {
        font-weight: 400;
    }

}

.header {
    display: flex;
    justify-content: space-between;
}

.link {
    text-decoration: none;
    color: var(--color-light-gray);

    &:hover {
        color: orange;
    }
}

.content {
    display: flex;
    column-gap: 30px;
    margin-top: 15px;
}

.imgWrapper {
    width: 12vw;
    height: 18vw;
}

.imgWrapper img {
    width: 12vw;
    aspect-ratio: 2/3;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
}