.wrapper {
    border-bottom: 2px solid black;
    padding: 15px 15px 30px 30px;
}

.wrapper h2 {
    font-weight: 400;
}

.content {
    display: flex;
    column-gap: 30px;
    margin-top: 15px;
}

.imgWrapper {
    width: 12vw;
    height: 18vw;
}

.imgWrapper img {
    width: 12vw;
    aspect-ratio: 2/3;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
}

.genres {
    text-transform: capitalize;
}

.description {
    margin-top: 30px;
    font-weight: 400;
    color: #cbcbcb;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}