.wrapper {
    width: 70vw;
    margin: 50px auto 100px;
    background-color: #28282b;
    border: 2px solid black;
    border-bottom: none;
}

.notFound {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    text-align: center;
    font-size: 24px;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}