.header {
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
}

.wrapper h2 {
    line-height: 1;
    font-weight: bold;
    font-size: 50px;
}

.wrapper p {
    margin-bottom: 7px;
    font-weight: light;
    font-size: 18px;
}

.wrapper img {
    display: block;
    margin-bottom: 37px;
}