.wrapper {
    width: 40vw;
}

.wrapper h1 {
    margin-bottom: 30px;
    line-height: 1;
    font-weight: bold;
    font-size: 90px;
}

.wrapper p {
    margin-bottom: 23px;
    font-weight: light;
    font-size: 18px;
}

.wrapper img {
    display: block;
    margin-bottom: 37px;
}

.specialButton {
    width: 0;
    height: 0;
    margin-left: 41px;
    background: none;
    text-decoration: underline;
    color: white;
}