.wrapper {
    margin-top: 85px;
    margin-left: 70px;
    border: 2px solid red;
}

.wrapper h1 {
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 90px;
}

.wrapper p {
    margin-bottom: 23px;
    font-weight: light;
    font-size: 18px;
}

.wrapper img {
    display: block;
    margin-bottom: 37px;
}